.top {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
body{overflow-x: hidden;}
.heading {
  text-align: center;
  margin-block-start: 3.2rem;
}
.achievements {
  display: flex;
  flex-direction: column;
}

.statistics {
  display: flex;
  flex-direction: row;
  height: 24rem;
  margin-block: 6rem;
}
.statsbox:hover {
  box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
}

.statsbox {
  width: 33%;
  margin-inline: 2rem;
  margin-block: 2rem;
  padding-block-end: 1.5rem;
  border: 1px grey solid;
  /* height: 17rem */
}

.innerstatistics {
  display: flex;
  flex-direction: column;
}

.number {
  height: 11rem;
  text-align: center;
  top: 2rem;
  vertical-align: middle;
  line-height: 12rem;
  font-size: 80px;
}
.numberInfo {
  padding: 1.2rem;
  text-align: center;
}

.detailAchvmnt {
  margin: 4vw 8vw 0;
  height: 58rem;
  display: inline-table;

}
.achvmntImg:hover {
  box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
}

.achvmntHead {
  padding: 0.5rem;

  text-align: center;
}
.achvmntImg {
  display: flex;
  flex-direction: row;
  /* height: 70%; */
}
.achvmtbrief {
  padding: 0.5rem;
}

/* .navbar a:hover{
  background-color: rgba(128, 128, 128, 0.502);
      color: white;
   border-radius: 40px;
  } */
.navbar li:hover{
  transform: scale(1.05);
 
}

.card{
  align-items: center;
}
.card-body{
  height: 24vh;
}
.achievements:last-child {margin-bottom: 5vh;
}


@media screen and (max-width: 883px) {
  .row{
    align-items: center;
  }
  }
  @media screen and (max-width:883px) and (min-width:575px){
  .col-sm-4{
    width: 70.33333%!important;
  }
  }
  .ah2{
    transition: transform 0.5s;
  
  
  }
  .ah2:hover{
 
    transform: scale(1.1);
  }