
/* div.gallery {
  border: 1px solid #ccc;
} */

/* div.gallery:hover {
  border: 1px solid #777;
} */

div.gallery img {
  width: 100%;
  height: 30vh;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 4px 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) and (min-width:700px) {
  div.gallery img {
    height: 22vh;
  }
}
@media only screen and (min-width: 800px) {
  .w-100 {
    height: 91vh!important;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gal_box{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 10vh 3vw;
}