.gallery {
  padding-top: 30px;
  height: 90vh
}
.gallery h1 {
  text-align: center;
  font-weight: 500;
  font-family: rotis_semi_serif;
  color: white;
  margin: auto;
  width: 80%;
  background-color: purple;
  -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  padding: 20px;
}
.gallery {
  margin-bottom: 20px;
}
th{
  border-bottom-width:0!important;
}
td{
  border-bottom-width:0!important;
}

.gallery-shadow {
  border-radius: 100px;
  height: 78%;
  overflow: hidden;
  margin: 4vh 14vw;
}

.swiper-container {
  width: 100%;
  height: 100%
}

.swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 25rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 2em
}

.swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 2em
}
.gallery-shadow {
  background-color: #fafdff;
  box-shadow: -2px -2px 20px 2px purple inset;
}

.gallery a{
  color: white;
  text-decoration: none;
}

.gallery a:hover{
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 610px) {
  .gallery{
   height: 80vh;
  }
  .swiper-container .swiper-slide{
   height: 20rem;
  }
 
   }
@media screen and (max-width: 436px) {
  .gallery{
     height: 60vh;
  }
    .swiper-container .swiper-slide{
     height: 20rem;
    }
   
     }