@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}


/*body */
/* body{
    background-color: rgba(211, 211, 211, 0.13);
}
 */
 body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 1100%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* titles  and headings */
.headings{
    
    font-family: 'Joan', serif;
    font-size: 30px;
  
    font-weight: bolder;

  

}

/*card achivements */
/* .card:hover{
    background-color:orange !important ;
} */
.card-text{
    color:#00fff3;
}



/*anchor tags */

a{
    text-decoration: none;
}

a:hover{
    background-color: lightblue;
    color:rgba(0, 0, 0, 0.617);

}


/*nav options  part */
.options{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.617);
    font-size: medium;
    font-weight: bolder;
    padding: 20px;
   
}

.logo{
   
    width: 70px;
    height:40px;
    
}
#navv{
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
    z-index: 1000;
}


a:hover{
  color: white!important;
text-decoration: none!important;
}
a{
  color: white!important;
  text-decoration: none!important;
}

#a1 a{
  font-weight: 600;
}

hr{border-top: 1px solid #3a3a3a!important;
opacity: 0.75!important;}


@media screen and (max-width: 400px) {
  .container-fluid h3{
    font-size: 20px;
  margin-bottom: 0;
  }
  a.Headings {
    display: flex;
    align-items: center;
  }
  }
  @media screen and (max-width: 884px) {
    .row{
      flex-flow: column;
    }
  }
  
    a.Headings {
    display: flex;
    }
  .container-fluid a:hover{
   background-color: transparent;
  }
   /* .row>* {
    flex: 1 1 30vw;
} */

@media screen and (max-width: 600px) {
  .navbar{
    position: sticky;
    top: 0;
    z-index: 1020;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.headings{color: rgba(0, 0, 0, 0.617);}
.navbar-collapse>ul>li>a{
  color: black!important;
}

a:hover{
  color: rgb(0, 0, 0)!important;
text-decoration: none!important;
}
a{
  /* color: black!important; */
  text-decoration: none!important;
}
  }


    
@media screen and (max-width: 884px) {
  .row{
    align-items: center!important;
  }
}
@media screen and (max-width:883px) and (min-width:575px){
  .col-sm-4{
    width: 70.33333%!important;
  }
}

.ah1{
  transition: transform 0.5s;


}
@media only screen and (min-width: 800px) {
  .w-100 {
    height: 91vh!important;
  }
}
.col-sm-4>.ah1:hover{
  background-color: var(--bs-gray-800)!important;
  filter: blur(0);
  transform: none; 
}
.col-sm-4>.ah1{
  transform: skewX(7deg);
  filter: blur(0.5px);
}

.ah1:hover{
 
  transform: scale(1.1);
}

.gal_box>.ah1:hover{
  transform: scale(1.05);

}














ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
  text-align: left;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
  text-align: left;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  align-items: center;
  flex-wrap: nowrap;
display: flex;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.col-xl-4{
  display: flex;
  margin-bottom: 20px;
}

.footer-logo h2{
  margin: 0;
}

.fi{
  width: 90%;
}