@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.headings{
  color: white;
    text-transform:uppercase;
}

.flex{
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
    flex-wrap: nowrap!important;
}
.list{
 
     list-style: none;
}
.bg{
  background-color: purple;
}
.titles{
  font-weight: 100;
  width: 100%;
  height: 7vh;
 display: flex;
 justify-content: center;
 align-items: center;
  background-color: purple;
  color: white;
}
